*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Pangolin", "sans-serif";
    font-size: 1.2rem;
}

/*Mise en page du header*/
header {
    height: 100vh;
    background-image: url(./img/headerFond.jpg);
    background-size: cover;
    position: relative;
}



.entete {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 48vh;
    left: 50px;

}

.txtEntete {
    margin: 0;
    color: white
}

.first {
    font-family: "provicali", "sans-serif";
    font-size: 2rem;
    font-weight: 400;
}

.photoSab {
    background-image: url(./img/sabAquVectorOKK.png);
    background-size: cover;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}


.scroll-arrow span {
    display: none;
}



/*Mise en place de la section description*/

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7D9B9B;
    box-shadow: 0px 4px 90px 0px rgba(0, 0, 0, 0.25) inset;
    color: white;
    padding: 50px;
    margin-bottom: 100px;
}

.titleDescr {
    font-size: 1.7rem;
    font-family: "provicali", "sans-serif";
    font-weight: 400;
}

p {
    margin: 0;
}

.CV {
    background-color: white;
    font-family: "pangolin", "sans-serif";
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    padding: 8px 12px 8px 12px;
    margin-top: 50px;
    transition: 0.2s ease-in-out;


}

.buttonCV {
    cursor: pointer;
}

.CV:hover {
    transform: scale(1.1);

}

/*Mise en place de l'entête des deux sections (projets et contact)*/

.titlesection {
    /* display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px; */
    text-align: center;
    position: relative;

}

.taches {
    width: 80px;
    height: 30px;
    background-image: url(./img/taches.png);
    background-size: cover;
    background-position: center center;
    position: absolute;

}

.taches.proj {
    left: calc(50% - 160px);
}

.taches.cont {
    left: calc(50% - 140px);
}

.title {
    font-family: "Provicali", "sans-serif";
    font-weight: 400;
    font-size: 1.7rem;
}

.paragraphe {
    padding: 0px 50px 0px 50px;
}

/* Mise en place de la section projets */

.cardContainer {
    /* margin-top:30px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100vw;
    gap: 30px;
    padding: 100px 50px 0px 50px;
    overflow: hidden;
}

.card {
    box-shadow: 7px 9px 11px 2px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.5fr 2fr;
    place-content: center;
    transition: ease-in-out 0.2s;
}

.imgCard {
    background-size: cover;
    background-position: center;
    margin: 4vw;
}


a {
    color: black;
    text-decoration: none;
}

.titleCard,
.competenceCard {
    text-align: center;
}

.titleCard {
    font-size: 1.5rem;
}

.competenceCard {
    font-size: 1rem;
}



/* .card:hover{
    transform: scale(1.2);
    
} */

.card1 {
    transform: translate(15vw, 10vw) rotate(-15deg);
    z-index: 2;
}

.card1:hover {
    transform: scale(1.1) translate(15vw, 10vw) rotate(-15deg);
}

.card2 {
    transform: translate(-15vw, 0) rotate(15deg);
}

.card2:hover {
    transform: scale(1.1) translate(-15vw, 0) rotate(15deg);
}

.card3 {
    transform: translate(15vw, -10vw) rotate(-15deg);
}

.card3:hover {
    transform: scale(1.1) translate(15vw, -10vw) rotate(-15deg);
}

.card4 {
    transform: translate(-15vw, -20vw) rotate(15deg);
}

.card4:hover {
    transform: scale(1.1) translate(-15vw, -20vw) rotate(15deg);
}

.card5 {
    transform: translate(15vw, -10vw) rotate(-15deg);
}

.card5:hover {
    transform: scale(1.1) translate(15vw, -10vw) rotate(-15deg);
}

.card6 {
    transform: translate(-15vw, -23vw) rotate(15deg);
}

.card6:hover {
    transform: scale(1.1) translate(-15vw, -23vw) rotate(15deg);
}

.card7 {
    transform: translate(15vw, -17vw) rotate(-15deg);
}

.card7:hover {
    transform: scale(1.1) translate(15vw, -17vw) rotate(-15deg);
}

.card8 {
    transform: translate(-15vw, -35vw) rotate(15deg);
}

.card8:hover {
    transform: scale(1.1) translate(-15vw, -35vw) rotate(15deg);
}





/*Je mets en place la section contact*/

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.circle {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease-in-out;
}

.circle:hover {
    transform: scale(1.15);
}

.github {
    background-image: url(./img/github-round.svg);
}

.linkedin {
    background-image: url(./img/linkedin-round.svg);
}

.mail {
    background-image: url(./img/mail.svg);
}

.tel {
    background-image: url(./img/tel.svg);
}

/* Je mets en place le footer */

footer {
    background-color: #7D9B9B;
    box-shadow: 0px 4px 90px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 50px;
    text-align: right;
}

.footertxt {
    color: white;
    font-size: 1rem;
}

@media(min-width:475px) {
    .titleCard {
        font-size: 2rem;
    }

    .competenceCard {
        font-size: 1.5rem;
    }
}


@media(min-width:600px) {

    body {
        font-size: 1.5rem;
    }

    .scroll-arrow {
        position: absolute;
        bottom: 40px;
        left: 50%;
        cursor: pointer;
    }

    .scroll-arrow span {
        display: block;
        width: 45px;
        height: 45px;
        border: solid #fff;
        border-width: 0 6px 6px 0;
        transform: rotate(45deg);
        transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
    }


    .scroll-arrow:hover span {
        width: 55px;
        height: 55px;

    }

    /* On lance l'animation de la flèche */
    .balancement {
        animation: balancementAnimation 0.7s infinite alternate;
    }

    @keyframes balancementAnimation {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(10px);
        }
    }
}







@media(min-width:800px) {

    header {
        background-position: center;
    }

    .first {
        font-size: 3rem;
    }

    .second {
        font-size: 2.5rem;
    }

    .photoSab {
        width: 400px;
        height: 400px;
    }

    .cardContainer {
        grid-template-columns: 1fr 1fr;
        padding: 250px 80px 40px 100px;
        grid-auto-rows: 60vw;

    }

    .card1 {
        transform: translate(-2vw, 0) rotate(22deg);
    }

    .card1:hover {
        transform: scale(1.2) translate(0vw, 0vw) rotate(15deg);
    }

    .card2 {
        transform: translate(0vw, -10vw) rotate(-10deg);
    }

    .card2:hover {
        transform: scale(1.2) translate(0vw, -3vw) rotate(-15deg);
    }

    .card3 {
        transform: translate(6vw, 0) rotate(-7deg);
    }

    .card3:hover {
        transform: scale(1.2) translate(0vw, 0vw) rotate(-15deg);
    }

    .card4 {
        transform: translate(5vw, -10vw) rotate(19deg);
    }

    .card4:hover {
        transform: scale(1.2) translate(5vw, -10vw) rotate(15deg);
    }

    .card5 {
        transform: translate(-3vw, -3vw) rotate(12.5deg);
    }

    .card5:hover {
        transform: scale(1.2) translate(-6vw, -10vw) rotate(18deg);
    }

    .card6 {
        transform: translate(0vw, -14vw) rotate(-12.5deg);
    }

    .card6:hover {
        transform: scale(1.2) translate(-2vw, -10vw) rotate(-20deg);
    }

    .card7 {
        transform: translate(4vw, -8vw) rotate(-7deg);
        z-index: 200;
    }

    .card7:hover {
        transform: scale(1.1) translate(-2vw, -8vw) rotate(-14deg);
    }

    .card8 {
        transform: translate(2vw, -17vw) rotate(9deg);
    }

    .card8:hover {
        transform: scale(1.1) translate(5vw, -15vw) rotate(16deg);
    }

    .imgCard {
        margin: 2.5vw;
    }

    .title,
    .titleDescr {
        font-size: 2rem;
    }

    .taches {
        width: 100px;
        height: 50px;
    }

    .taches.proj {
        left: calc(50% - 220px);
    }

    .taches.cont {
        left: calc(50% - 190px);
    }

}

@media(min-width:1100px) {
    .photoSab {
        width: 550px;
        height: 550px;
    }

    .entete {
        left: 100px;
        top: 55vh;
    }

    .titleCard {
        font-size: 3rem;
    }

    .competenceCard {
        font-size: 1.5rem;
    }

    .description {
        padding: 100px;
    }

    .paragraphe {
        padding: 0px 100px 0px 100px;
    }

    .descrProjets {
        padding: 30px 100px 0px 80px;
    }



    .cardContainer {
        padding: 300px 80px 40px 80px;

    }

    .circle {
        width: 50px;
        height: 50px;
    }

    .footertxt {
        font-size: 1.5rem;
    }




}

@media(min-width:1200px) {
    .entete {
        top: 50vh;
    }

    .first {
        font-size: 3.5rem;
    }

    .second {
        font-size: 3rem;
    }
}